#contenedor{
    height: 960px;
    width: 1000px;
    background-color: #edf2ef;
    border-radius: 10px;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#encabezado{
    height: 180px;
    background-color: #212738;
    color: white;
    padding-top: 20px;
}

#footer{
    height: 40px;
    background-color: #212738;
    color: white;
}

.header1{
    font-size: 50px;
    font-weight:bolder;
}

.header2{
    font-size: 30px;
    font-weight:lighter;
    margin-top: -20px;
}

input{
    display: block;
    font-size: 20px;
}

label{
    font-size: 20px;
}

span{
    font-size: 20px;
}

button{
    padding: 10px 35px;
    margin: 1.5rem;
    font-size: 15px;
}

button:hover{
    cursor: pointer;
}